body {
  font-family: sans-serif;
  font-size: 1.5rem;
  background-color: orange;

}

h1 {
  font-family: fantasy;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgb(0, 183, 255);
  text-align: center;
}

#container {
  margin: 5rem;
}

#button-clicker {
  background-color: aquamarine;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.3s;
  &:hover {
    scale: 1.1;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.catchphrase {
  margin: 3rem 0;
  text-align: center;
}

.number {
  margin: 3rem 0;
  text-align: center;
  background-color: blanchedalmond;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
  font-size: 3rem;
  font-weight: bold;
}



.container {
  text-align: center;
}

.click {
  padding: 15px;
  color: white;
  background-color: black;
  border-radius: 10px;

}
.clif {
  margin-left: 43vw;
}
.score, .timer {
  margin-left: 2vw;
}

.reset {
  padding: 15px;
  color: white;
  background-color: black;
  border-radius: 10px;
}

